:root {
    font-size: calc( 8px + 0.5vw );
}
html,body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
}
#keys-container {
    /* Calculator body */
    position: relative;
    border-radius: 2rem;
    padding: 1rem;
    width: 25rem;
    background-color: rgb(225, 231, 236);
    box-shadow: inset 0 -0.5rem 1rem rgba(0,0,0,.65), 0 1rem 2rem rgba(0,0,0,.65);

    display:inline-grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(6, 1fr);
    gap: 0.2rem;

    grid-template-areas: 
    "display display display display"
    "clear . . divide"
    "seven eight nine multiply"
    "four five six add"
    "one two three subtract"
    "zero . dot equals";
}
/* #keys-container::after {
    content:"HELLO WORLD";
    color: yellow;
    border: 10px solid #222;
    border-radius: 3rem;
    width: 100%;
    position: absolute;
    top: -10px;
    left: -10px;
    bottom: -10px;
} */
.button {
    font-family: sans-serif;
    font-size: 1.5rem;
    border: 2px solid rgb(223, 223, 223);
    border-radius: 1rem;
    /* padding: 0.5rem; */
    /* margin: 0.1rem; */
    text-align: center;
    cursor: pointer;
    color: #222;
    background-color: white;
    box-shadow: inset -0.1rem -0.4rem 1rem -0.7rem black;

    display: flex;
    justify-content: center;
    align-items: center;
}
.button:active {
    background-color: #CCC;
    color: white;
    box-shadow: inset 0.1rem 0.4rem 1rem -0.7rem black;
}
#display {
    border: 3px solid #161616;
    border-bottom-color: #999999;
    border-radius: 1rem;
    grid-area: display;
    margin-bottom: 0.3rem;
    padding: 1rem;
    font-family: 'Orbitron', monospace;
    font-size: 3rem;
    color: rgb(163, 238, 163);
    text-shadow: 0 0 0.1em black;
    text-align: right;
    background-color: rgb(76, 83, 71);
    box-shadow: inset 0 0.5rem 1rem -0.5rem  black;
}
.clear {
    grid-area: clear;
}
.divide {
    grid-area: divide;
}
.add {
    grid-area: add;
}
.subtract {
    grid-area: subtract;
}
.multiply {
    grid-area: multiply;
}
.equals {
    grid-area: equals;
}
.dot {
    grid-area: dot;
}
.zero {
    grid-area: zero;
}
.one {
    grid-area: one;
}
.two {
    grid-area: two;
}
.three {
    grid-area: three;
}
.four {
    grid-area: four;
}
.five {
    grid-area: five;
}
.six {
    grid-area: six;
}
.seven {
    grid-area: seven;
}
.eight {
    grid-area: eight;
}
.nine {
    grid-area: nine;
}